#katalog{
	width:960px;
	text-align:center;
}
#main-katalog{
	width:inherit;
	text-align:center;
}
#wrapper-olahraga{
	text-align:center;
	float:left;
}
#wrapper-seni{
	float:left;
	margin-left:20px;
	text-align:center;
}
#wrapper-teknik{
	float:left;
	margin-left:20px;
	text-align:center;
}
#wrapper-science{
	float:left;
	margin-left:20px;
	text-align:center;
}
#wrapper-novel{
	float:left;
	margin-left:20px;
	text-align:center;
}